<div class="p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end">
    <h1 class="animate__animated animate__shakeX">Acerca de</h1>
    <div class="d-flex justify-content-start">
        <p class="animate__animated animate__rotateInDownLeft" style="text-align: justify;">Página creada por un estudiante de la carrera en Ingeniería de Tecnologías de la Información, de la materia de Tecnologías Web. En esta página, podrás encontrar información relevante sobre mí y mis intereses académicos y personales. Acerca de
            mí, mi nombre es Gregory Sornoza y soy un estudiante apasionado por la tecnología y el desarrollo web. Actualmente, me encuentro cursando la carrera de Ingeniería de Tecnologías de la Información en la Universidad Tecnica de Machala. Intereses
            académicos mis principales intereses académicos son el desarrollo de aplicaciones web, la programación, las bases de datos y la ciberseguridad. Me fascina aprender sobre las nuevas tendencias y tecnologías emergentes en el campo de la informática.
            Experiencia aunque todavía soy un estudiante, adquirió experiencia a través de proyectos académicos y prácticas profesionales. Trabajó en el desarrollo de sitios web utilizando HTML, CSS y JavaScript, así como en la creación de aplicaciones
            de escritorio con diferentes lenguajes de programación.</p>
    </div>
</div>