<div class="card-container">
  <img src="assets/img/01.jpg" alt="Decoración izquierda" class="side-image left" />
  <div class="card">
    <h1>💖 ¡Celebrando nuestra Amistad! 💖</h1>
    <p>
      Querida amiga, eres un tesoro invaluable en mi vida. Gracias por llenar mis días de alegría,
      risas y recuerdos inolvidables. ¡Hoy celebramos nuestra hermosa amistad!
    </p>
    <button (click)="celebrate()" class="celebrate-button">🎉 Celebrar Amistad</button>
  </div>
  <img src="assets/img/02.jpg" alt="Decoración derecha" class="side-image right" />
</div>